@use "../../styles//partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.search-results {
  @include flex($align: start);

  @include tablet {
    margin-inline: $tablet-margin;
  }

  @include desktop {
    max-width: $desktop-width;
    margin: auto;
  }

  &__container {
    @include flex($direction: row);
    flex-wrap: wrap;
  }

  &__book {
    @include link;
    @include flex;

    width: calc(100% / 3);
    &:hover {
      border: 0;
    }

    @include tablet {
      width: calc(100% / 5);
    }

    @include desktop {
      border: 1px solid black;
      width: calc(100% / 6);
      padding: 0.5rem;
      gap: 2rem;
    }
  }

  &__image {
    width: 100%;
  }
}
