@use "../../styles//partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

main {
  padding: 2rem;
}

.intro {
  @include block;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid black;

  &__header {
    border-bottom: 1px solid black;
    margin-top: 0;
    padding-inline: 1rem;
    width: 40%;

    &-logo {
      width: 10%;
      margin-inline: 0.5rem;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    padding-inline: 2rem;
    font-weight: 700;
    font-size: 1.3rem;
  }
}

.form {
  @include block;
  margin-block: 0;
  padding-block: 0;

  &__container {
    @include block;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid black;
    margin: 0;
    padding-top: 0;
    &:hover {
      background-color: $tertiary-colour;
    }
  }

  &__question {
    font-weight: 500;
  }

  &__question-option {
    @include select;
  }

  &__button {
    &-submit {
      @include select;
      margin-block: 1rem;
      padding-block: 0.5rem;
      font-weight: 700;
      font-size: 1.5rem;
    }

    &-cancel {
      @include link;
      color: $primary-text-colour;
    }

    &-cancel-text {
      padding: 0.5rem;
      margin: 0;
      &:hover {
        color: $cancel-colour;
      }
    }
  }
}
