@use "../../styles//partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.submitted {
  padding: 1rem;
  display: flex;
  justify-content: center;

  &__link {
    @include link;
    background-color: $primary-colour;
    margin: 4rem;

    &-text {
      width: fit-content;
      padding-inline: 1rem;
      font-weight: 500;
      font-size: 2rem;
    }
  }
}
