@use "../../styles//partials/variables" as *;
@use "../../styles/partials/fonts" as *;

.list {
  &__container {
    background-color: $primary-colour;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    text-decoration: none;
  }

  &__title {
    background-color: $primary-colour;
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem;

    font-weight: 500;
  }
}
