@use "../../styles//partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.title {
  @include list-title;
}

.lists {
  @include flex($direction: column);
  @include tablet {
    padding: 0;
  }

  &__header {
    font-size: 2rem;

    @include tablet {
      font-size: 3rem;
    }

    @include desktop {
      font-size: 4rem;
    }
  }
}

.list {
  padding-inline: 1rem;

  &__container {
    @include flex($direction: column);
    margin-inline: 1rem;
  }

  &__title {
    @include link;
    background-color: $primary-colour;
    margin-block: 1rem;
    padding-inline: 2rem;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;

    &:hover {
      border-bottom: 8px solid black;
    }

    @include tablet {
      font-size: 2.3rem;
    }

    @include desktop {
      font-size: 3rem;
    }
    &-login {
      @include link;
      &:hover {
        color: black;
      }
    }
  }
}
