// bold 700
@font-face {
  font-family: SpaceGrotesk;
  src: url("../../assets/fonts/SpaceGrotesk-Bold.ttf") format("OpenType"),
    format("TrueType");
  font-weight: 700;
  font-style: normal;
}

// semibold 600
@font-face {
  font-family: SpaceGrotesk;
  src: url("../../assets/fonts/SpaceGrotesk-SemiBold.ttf") format("OpenType"),
    format("TrueType");
  font-weight: 600;
  font-style: normal;
}

// medium 500
@font-face {
  font-family: SpaceGrotesk;
  src: url("../../assets/fonts/SpaceGrotesk-Medium.ttf") format("OpenType"),
    format("TrueType");
  font-weight: 500;
  font-style: normal;
}

// regular 400
@font-face {
  font-family: SpaceGrotesk;
  src: url("../../assets/fonts/SpaceGrotesk-Regular.ttf") format("OpenType"),
    format("TrueType");
  font-weight: 400;
  font-style: normal;
}

// light 300
@font-face {
  font-family: SpaceGrotesk;
  src: url("../../assets/fonts/SpaceGrotesk-Light.ttf") format("OpenType"),
    format("TrueType");
  font-weight: 300;
  font-style: normal;
}
