@use "./variables" as *;

@mixin block {
  background-color: $primary-colour;
  border-radius: 4px;
  padding: 1rem;
  margin-block: 1rem;
  border: 2px solid $secondary-colour;
  color: $primary-text-colour;
  -webkit-box-shadow: 0 0 10px $secondary-colour;
  box-shadow: 0 0 10px $secondary-colour;
}

@mixin link {
  text-decoration: none;
  background-color: #8f00ff40;
  font-weight: 500;
  &:hover {
    background-color: $accent-colour;
  }
  &.active {
    background-color: $tertiary-colour;
    border-bottom: 4px solid black;
  }
}

@mixin select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: $select-colour;
  border: 2px solid $secondary-colour;
  color: $primary-text-colour;
  padding: 0.5rem 1rem;
}
