@use "./fonts" as *;

// background
$primary-colour: #8f00ff;
$secondary-colour: #44195e;
$tertiary-colour: #603b77;

// text colour #F0EEF1 or #EDE6F1
$primary-text-colour: #f0eef1;

// accent ?
$accent-colour: #9457ba;

$select-colour: #a42eed;

// cancel
$cancel-colour: #d11a2a;
