@use "./fonts" as *;

// background
$primary-colour: #8f00ff;
$secondary-colour: #44195e;
$tertiary-colour: #603b77;

// text colour
$primary-text-colour: #f0eef1;

// accent
$accent-colour: #9457ba;

// select
$select-colour: #a42eed;

// cancel
$cancel-colour: #d11a2a;
