@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.empty-list {
  @include tablet {
    margin-inline: $tablet-margin;
  }

  @include desktop {
    max-width: $desktop-width;
    margin: auto;
  }

  &__text {
    @include block;

    @include tablet {
      font-size: 1.8rem;
    }

    @include desktop {
      font-size: 2.5rem;
    }
  }

  &__img {
    width: 5%;
  }

  &__link-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__link {
    @include link;
    padding-inline: 1rem;

    @include tablet {
      margin-block: 1rem;
    }
  }

  &__link-text {
    @include tablet {
      font-size: 2rem;
      margin-block: 1.3rem;
    }

    @include desktop {
      font-size: 2.5rem;
      padding-block: 0;
    }
  }
}
