@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.profile {
  @include flex($direction: column);
  padding-inline: 0;

  @include tablet {
    margin: $tablet-margin;
    padding: 0;
  }

  @include desktop {
    max-width: $desktop-width;
    margin: auto;
  }

  &__title {
    @include block;
    @include tablet {
      font-size: 3rem;
    }

    @include desktop {
      font-size: 4rem;
      padding-top: 1rem;
      margin-bottom: 0;
    }
  }

  &__info {
    @include block;
    @include flex($direction: column);
    @include tablet {
      @include flex($justify: space-between);
      font-size: 1.5rem;
      border-bottom: 3px solid black;
    }
    @include desktop {
      padding-bottom: 2rem;
      border-bottom: 4px solid black;
    }

    &-text {
      @include block;
      padding-bottom: 1rem;
      width: 80%;

      @include tablet {
        flex: 1;
      }

      @include desktop {
        font-size: 2rem;
      }
    }

    &-middle {
      margin-inline: 1rem;
      border-block: 2px solid black;
      @include flex($direction: column);

      @include tablet {
        border: 0;
      }
    }

    &-img-container {
      @include block;
      @include flex($direction: column);
    }

    &-logo {
      width: 15%;
      @include tablet {
        width: 30%;
      }
    }

    &-img {
      width: 80%;
      padding-top: 1rem;

      @include tablet {
        width: 100%;
      }
    }
  }

  &__logout {
    @include select;
    font-size: 0.8rem;

    @include tablet {
      font-size: 1rem;
    }

    @include desktop {
      font-size: 1.5rem;
    }
  }

  &__nav {
    @include flex($justify: space-between);
    @include block;

    @include tablet {
      padding-block: 2rem;
    }

    @include desktop {
      border: 0;
    }

    &-link {
      @include block;
      @include link;
      @include flex;
      padding: 0.5rem;
      font-size: 0.8rem;

      @include tablet {
        margin-inline: 1rem;
        font-size: 1.3rem;
      }

      @include desktop {
        font-size: 1.8rem;
        padding-inline: 2rem;
      }
    }
  }
}
