@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.Profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    @include block;
  }
  &__info {
    @include block;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-text {
      @include block;
      width: 30%;
    }

    &-middle {
      margin-inline: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-img-container {
      @include block;

      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-img {
      width: 80%;
      padding-top: 1rem;
    }
    &-logo {
      width: 15%;
    }
  }
  &__logout {
    @include select;
  }

  &__nav {
    display: flex;
    justify-content: space-between;

    @include block;

    &-link {
      @include block;
      @include link;
      padding: 0.5rem;
      margin-inline: 1rem;
    }
  }
}
.Profile__no {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-logo {
    width: 5%;
  }

  &-login {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  &-arrow {
    width: 10%;
    margin-inline: 1rem;
  }

  &-link {
    @include link;
    padding: 0.5rem 1rem;
  }
}
