@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.Profile {
  &__title {
    @include block;
  }
  &__info {
    @include block;

    display: flex;
    justify-content: space-between;
    &-text {
      @include block;
    }

    &__logout {
    }

    &-img-container {
      @include block;

      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-img {
      width: 80%;
      padding-top: 1rem;
    }
    &-logo {
      width: 15%;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    padding-block: 1rem;
    margin-block: 1.5rem;

    &-link {
      @include block;
      @include link;
    }
  }
}
