@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  margin: 2rem;
  margin-bottom: 0;
  border-bottom: 4px solid black;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 2rem;
    border-bottom: 2px solid $secondary-colour;
  }

  &__title-text {
    margin: 01rem;
  }

  &__logo {
    height: 4rem;
    margin-right: 2rem;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  width: 70%;
  margin: auto;

  &__header {
    @include block;
    @include link;
    padding: 0.5rem 1rem;
  }
}
