@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  margin: 2rem;
  margin-bottom: 0;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: column;

  @include tablet {
    border-bottom: 4px solid black;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1rem;
    border-bottom: 2px solid $secondary-colour;

    @include tablet {
      font-size: 2rem;
      margin-inline: 0;
      padding-inline: 0;
      gap: 1rem;
    }

    @include desktop {
      font-size: 3rem;
    }
  }

  &__title-text {
    margin: 01rem;
  }

  &__logo {
    height: 3rem;

    @include tablet {
      height: 4rem;
      margin-right: 2rem;
    }

    @include desktop {
      height: 7rem;
    }
  }
}

.nav {
  display: flex;
  justify-content: space-around;
  margin: 0.5rem;

  @include tablet {
    margin-inline: 2rem;
  }

  &__header {
    @include block;
    @include link;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;

    @include tablet {
      font-size: 1.3rem;
      margin: 1rem 0.5rem;
      padding-inline: 2rem;
    }

    @include desktop {
      font-size: 2rem;
    }
  }
}
