@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  // padding: 2rem;
  @include block;
  margin: 2rem;
  margin-bottom: 0;

  &__title {
    // @include block;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 2rem;
    border-bottom: 2px solid $secondary-colour;
  }

  &__title-text {
    margin: 01rem;
  }

  &__logo {
    height: 4rem;
    margin-right: 2rem;
  }
}

.nav {
  display: flex;
  justify-content: space-between;

  &__header {
    @include block;
    @include link;
    padding: 0.5rem 1rem;
  }
}
