@use "../../styles//partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.search {
  @include tablet {
    margin-inline: $tablet-margin;
  }

  @include desktop {
    max-width: $desktop-width;
    margin: auto;
  }

  &__title {
    @include list-title;
  }
  &__form {
    @include flex($justify: space-around, $direction: column);
  }

  &__form-box {
    @include flex($direction: row);
    padding: 1rem;
  }

  &__form-container {
    padding: 1rem;
  }

  &__results {
    @include flex($justify: space-around, $direction: column);

    &-container {
      border: 2px solid red;
      width: 100%;
    }
  }
}
