@use "../../styles//partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.allbooks {
  @include block;
  padding: 2rem;

  &__container {
    @include link;
    display: flex;
    align-items: center;
    border: 2px solid black;
  }
  &__image {
    padding: 2rem;
    width: 15rem;
  }

  &__text {
    font-size: 1.25rem;
    font-weight: 500;
  }
}
