@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.signup {
  // padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__button {
    @include link;
    padding-inline: 0.5rem;
    margin: 0.5rem;
  }

  &__no {
    @include link;
    @include block;
    width: fit-content;
    padding: 0.5rem;

    &-link {
      color: $primary-text-colour;
    }
  }

  &__error {
    color: $cancel-colour;
  }
}
