@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.homepage {
  @include block;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    @include block;
  }

  &__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__text {
    @include block;
  }
  &__img {
    background-color: $primary-colour;
    width: 60%;
  }
  &__nav {
    @include block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 60%;
    border: 0;

    &-link {
      @include link;
      padding: 1rem;
      border: 2px solid $secondary-colour;
      margin: 0;
      flex: 1;
    }
  }
}
