@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.homepage__main {
  padding: 0;
  @include desktop {
    max-width: $desktop-width;
    margin: auto;
  }
}

.homepage {
  margin: auto;
  @include flex($direction: column);

  &__title {
    font-size: 2rem;
    text-align: center;

    @include desktop {
      font-size: 4.5rem;
    }
  }

  &__intro {
    @include flex($direction: column);

    @include desktop {
      display: flex;
    }
  }

  &__text {
    width: 80%;

    @include tablet {
      width: 70%;
      @include flex($direction: column);
    }

    @include desktop {
      width: 100%;
      font-size: 2rem;
      @include flex($align: flex-start);
      padding-right: 3rem;
    }
  }

  &__text-container {
    @include desktop {
      padding-inline: 2rem;
    }
  }

  &__img {
    background-color: $primary-colour;
    width: 75%;

    @include tablet {
      margin-block: 2rem;
    }
  }

  &__nav {
    @include block;
    @include flex($justify: center);
    width: 80%;
    margin: 1rem;

    &-link {
      @include block;
      @include link;
      @include flex($justify: center);
      margin-inline: 0.5rem;
      padding-inline: 0.5rem;
      flex: 1;
    }

    &-header {
      &.active {
        border-bottom: 4px solid black;
      }

      @include desktop {
        font-size: 1.7rem;
      }
    }
  }
}
